{% extends "layout.html" %}
{% block content %}

<br><br>
<h3>Add Choice</h3>
<a class="btn-sm btn-primary" href="/admin_top">Back to Admin top</a>
<br>
<br>
<form action="/add_Choice" method="post">
    <div class="row">
        <div class="col-sm-4"><p>question</p></div>
        <div class="col-sm-8">
            <select name="question">
                {% for question in questions %}
                    <option value="{{question['id']}}">{{question['question_text']}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
        <br>
    <div class="row">
        <div class="col-sm-4"><p>question_text</p></div>
        <div class="col-sm-8">
            <input type="text" name="choice_text">
            {% for error_message in error_messages %}
                <p class="text-danger">{{error_message}}</p>
            {% endfor %}
            <br>
        </div>
    </div>
    <hr>
    <input class="btn btn-warning" type="submit" name="submit" value="Add Choice">
</form>

{% endblock %}